
body{
    margin: 0;
 
}

#site{
    display: flex;
    font-family: 'Inter', sans-serif;
} 

header{
    background-color:  #F5F5F5;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content:space-between;
}

#filtros{
    display: flex;
    margin-right: 200px;
}

.filtro{
   display: flex;
   padding: 15px 19px 10px 10px;
   color:  #828282;
}

.filtro:hover{
    font-weight:600;
    color: #333333;
    cursor: pointer;
}

#todos{
    font-weight:600;
    color: #333333;
}

h1{
    margin-left: 118px;
    font-weight: bold
}

img{
    height: 150px;
    width: 191px;
    left: 54px;
    top: 5px;
    border-radius: 0px;
    
}
#vitrine{
    display: flex;
    flex-wrap: wrap;
    margin-left: 95px;
}

.produtos{
    margin-top: 18px;
    border: 2px solid #F5F5F5;
    width: 320px;
    height: 380px;
    margin: 25px; 
}

.produtos:hover{
    border: 2px solid black;
}

#compras{
     margin-top: 20px;
     margin-left: 15px;
     margin-right: 267px;
     margin-top: 40px;
}
 
.tags{
     color: #FFFFFF;
     background-color:#2E245E ;
     Width: 65px;
     Height: 15px;
     Padding :8px;
     font-size: 13px;
     text-align: center;
}

 h3{
   font-weight: bold;
}

.descrição{
     color: #828282;
     font-size: 14px;
}

 .preço{
    color: #2E245E;
    font-weight: 600;
}

 .adicionarcarrinho{
     color:#828282;
     text-decoration: underline;
}

.adicionarcarrinho:hover{
     color: #2E245E;
     cursor: pointer;
     font-weight: 600;
}

 .informações{
     margin-left: 15px;
}
  
figure{
  display: flex ;
  justify-content: center;
  height: 150px;
  background-color: #F5F5F5;
  margin: 0;
}

input{
     color: #828282;
     padding-left: 15px;
     width: 270px;
     height: 50px;
     background-color: #F5F5F5;
     border: 1px solid #F5F5F5;
}

#pesquisar{
     color: #FFFFFF;
     background-color:#6B54DE ;
     width: 105px;
     height: 53px;
     font-size: 16px;
     border: 1px solid #F5F5F5;
     font-weight: 500;
     margin-left: 10px;
     cursor: pointer;
}

#busca{
    display: flex;
}
 
#carrinhodcompras{
  background-color: #6B54DE;
  color: #FFFFFF;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;

}

#fundocarrinho{
  
     background-color: #F5F5F5;
     width: 400px;
     height: 370px;
     display: flex;
     flex-direction: column;
     align-content: center;
     overflow-y: scroll;
     
}

#carrinhovazio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: auto 0 5px;
 
}

#adicioneitens{
    display: flex;
     align-items: center;
     justify-content: center;
    margin: 4px 0 auto;
}


.adicionarcarrinho{
     background-color:white;
     border: none;
     margin-left: -7px;
     font-size: 14px;
     font-weight: 500;
}
 
 .carrprod{
    width: 273px;
    height: 80px;
    display: flex;
    margin-left: 20px; 
    padding: 20px;
 }

 .fotprod{
    Width :79px;
    Height:61px;
    height: 80px;
 }

 .fundfoto{
    width: 80px;
    height: 80px;
    background-color: #FFFFFF    ;
 }
 .infos{
     display: flex;
     flex-direction: column;
  margin-left: 25px;
  height: 69px;
   justify-content: center;
 }

 .nameprod{
    font-weight: 700;
 }

 .preçocarr{
    Width:269px;
    Height: 16px;
    color: #2E245E;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 5px;
 }

 .removeritem{
    Width :115px;
    Height: 16px ; 
    background-color: #F5F5F5;
    border: none;
    color: #828282;
    cursor: pointer;
    margin-top: 10px;
    padding: 0;
    margin-left: -6px;
 }

 #somas{
     background-color:#333333;
     padding-top: 10px;
     width: 400px;
     height: 120px;
     margin: 0 auto;
   
 }

 #quantidade1 { 
   color: #828282;
   margin-right: 25px;

 }

 #preco3 { 
 color:#828282;
 margin-right: 25px;

 }

 .textocarr{ 
    color: #FFFFFF;
     margin-left: 16px;
     font-weight: 500;
    
 }

 

 #fileira1{
     align-items: center;
   display: flex;
   justify-content: space-between;
   
 }

 #fileira2{
     align-items: center;
display: flex;
justify-content: space-between;
}